{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'contact.css'%}">
</head>
<body>
    <h1>hello this is a contact page of my website </h1>
    <p>Please enter your name</p><input type="text" placeholder="Enter your name">
    <p>Please enter your email address</p><input type="text" placeholder="Enter your email">
</body>
</html>